$light-grey : #cccccc;
$over500 : #dcfc71;
$under500 : #71cefc;

.meal-item, .edit-meal, .new-meal {
  background-color: $light-grey;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 85px;
  text-align: center;
}

#meal-list {
  text-align: center;
  list-style: none;
}

.meal-name {
  border-radius: 85px;
  padding: 20px;
}

.edit-meal {
  margin-top: 15px;
  width: 93%;
  margin-left: 6%;
}
//
.new-meal {
  margin-top: 15px;
  width: 93%;
  margin-left: 6%;
}

.btn {
  border-radius: 85px;
}

body {
  background: url('https://wallpaperscraft.com/image/steak_vegetables_rolls_dinner_delicious_71438_3840x2400.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.over500 {
  background-color: $over500;
}

.under500 {
  background-color: $under500;
}

.title-row {
  background-color: $light-grey;
  text-align: center;
}
