$light-grey : #cccccc;


.meal-item, .edit-meal, .new-meal {
  background-color: $light-grey;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 85px;
  text-align: center;
}

.meal-name {
  background-color: #fff;
  border-radius: 85px;
  padding: 20px;
}

.edit-meal, .new-meal {
  margin-top: 15px;
}
//
// .new-meal {
//   position: fixed;
//   margin-top: 15px;
//   float: right;
//   margin-right: 150px;
// }
//
// @media (max-width: 600px) {
//   .edit-meal {
//     float: none;
//     position: static;
//     margin-right: 0px;
//   }
// }

html {
  background: url('https://wallpaperscraft.com/image/steak_vegetables_rolls_dinner_delicious_71438_3840x2400.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
